.card {
  border: 1px solid #f1f1f1;
  padding: 20px;
  width: 210px;
  border-radius: 30px;
  margin-right: 40px;
  transition: box-shadow 0.18s ease-in-out;
  transition: 0.18s ease-in-out;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  .favorite {
    width: 14px;
    height: 12px;
    position: absolute;
    cursor: pointer;
  }

  span {
    opacity: 40%;
    font-size: 12px;
  }

  h5 {
    font-weight: 400;
    font-size: 20px;
    position: relative;
  }

  .plus {
    cursor: pointer;
    opacity: 1;

    &:hover {
      opacity: 0.7;
    }
  }
}
