body {
  margin: 0;
  font-family: "Inter", system-ui;
  background-color: #e7f6ff;
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 3px solid #e7f6ff;
  img {
    margin-right: 15px;
  }

  h3,
  p {
    margin: 0;
  }
  .headerRight {
    img {
      margin-right: 10px;
    }
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.search-block {
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  padding: 0 5px;

  svg {
    padding: 7px;
  }

  input {
    border: 0;
    padding: 7px;
    font-size: 16px;
    width: 200px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.greenButton {
  width: 100%;
  background: #9dd558;
  border-radius: 15px;
  height: 55px;
  border: 0;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background: lighten($color: #b57edc, $amount: 2%);
  }
  &:active {
    background: darken($color: #b57edc, $amount: 5%);
  }
}

.drawer {
  position: absolute;
  width: 420px;
  right: 0;
  height: 100%;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: box-shadow 0.18s ease-in-out;
  transition: 0.18s ease-in-out;
  display: flex;
  flex-direction: column;

  .Items {
    overflow: auto;
    margin-bottom: 20px;
    flex: 1;
  }
}

h2 {
  img {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}

.cartTotalBlock {
  .greenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(10px);
      }
    }

    img {
      position: absolute;
      right: 8%;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
  ul {
    display: block;
    margin-bottom: 10px !important;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }

    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: 4px;
      margin: 0 7px;
    }
  }
}

h2 {
  margin: 0;
  margin-bottom: 30px;
}

.cartItem {
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  &:hover {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
    transform: translateY(-1px);
  }
  p {
    font-size: 16px;
    margin: 0;
  }
  b {
    font-size: 14px;
  }
  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
